.btn {
  position: relative;
  overflow: hidden;

  display: inline-flex;
  align-items: center;
  border: none;
  margin: 0;
  padding: 10px 30px;
  border-radius: 3px;
  cursor: pointer;
  font: inherit;

  color: #fff;
  background-color: #008080;


  transition: background-color 500ms cubic-bezier(0.83, -0.08, 0.32, 1),
    color 500ms cubic-bezier(0.83, -0.08, 0.32, 1);
}

.btn::before,
.btn::after {
  content: " ";
  display: inline-block;
  width: 20px;
  height: 20px;
  background-size: contain;

  transition: transform 230ms cubic-bezier(0.83, -0.08, 0.32, 1);
}

.btn::before {
  margin-right: 5px;
  content: " ";
  width: 20px;
  height: 20px;
  background-color: #fff;
}

.btn::after {
  position: absolute;
  top: 50%;
  left: 30px;
  content: " ";
  width: 20px;
  height: 20px;
  background-color:#008080;
  transform: translateY(calc(-50% + 35px));
}

.btn:hover::before,
.btn:hover::before {
  transform: translateY(-35px);
}

.btn:hover::after,
.btn:hover::after {
  transform: translateY(-50%);
}

.btn:hover,
.btn:focus {
  background-color: #ebadc2;
  color: #008080;
}
